@model _804ManchesterHomeControl.ViewModels.ActivitiesViewModel
@using _804ManchesterHomeControl.Helpers;
@using _804ManchesterHomeControl.Models;


@{
    ViewBag.Title = "Activities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Activities</h2>

I am in the @Html.DropDownListFor( m => m.SelectedRoom, Model.Rooms )

<br />

@Ajax.ActionLink(
                    "HDMI Matrix Living Room HTPC",
                    "MyExecuteAction", "Home",
                    new {
                        device=MyDeviceDatabase.Device.HDMI44Matrix,
                        actionName = "A1" }, 
                    new AjaxOptions() { UpdateTargetId = "MyActionResult" })
<br />
@Ajax.ActionLink(
                    "HDMI Matrix Living Room AppleTV",
                    "MyExecuteAction", "Home",
                    new {
                        device=MyDeviceDatabase.Device.HDMI44Matrix,
                        actionName = "A2" }, 
                    new AjaxOptions() { UpdateTargetId = "MyActionResult" })
<br />
@Ajax.ActionLink(
                    "HDMI Matrix Basement HTPC",
                    "MyExecuteAction", "Home",
                    new {
                        device=MyDeviceDatabase.Device.HDMI44Matrix,
                        actionName = "B1" }, 
                    new AjaxOptions() { UpdateTargetId = "MyActionResult" })
<br />
@Ajax.ActionLink(
                    "HDMI Matrix Basement AppleTV",
                    "MyExecuteAction", "Home",
                    new {
                        device=MyDeviceDatabase.Device.HDMI44Matrix,
                        actionName = "B2" }, 
                    new AjaxOptions() { UpdateTargetId = "MyActionResult" })
<br />
@Ajax.ActionLink(
                    "HDMI Matrix Basement PS3",
                    "MyExecuteAction", "Home",
                    new {
                        device=MyDeviceDatabase.Device.HDMI44Matrix,
                        actionName = "B3" }, 
                    new AjaxOptions() { UpdateTargetId = "MyActionResult" })
<br />
@Ajax.ActionLink(
                    "Projector ON",
                    "MyExecuteAction", "Home",
                    new {
                        device=MyDeviceDatabase.Device.OptomaHD66,
                        actionName = "On" }, 
                    new AjaxOptions() { UpdateTargetId = "MyActionResult" })
<br />
@Ajax.ActionLink(
                    "Projector Off",
                    "MyExecuteAction", "Home",
                    new {
                        device=MyDeviceDatabase.Device.OptomaHD66,
                        actionName = "Off" }, 
                    new AjaxOptions() { UpdateTargetId = "MyActionResult" })
<br />
<span id="MyActionResult" style="color:Green"></span>