@using _804ManchesterHomeControl.Helpers;
@using _804ManchesterHomeControl.Models;


@{
    ViewBag.Title = "AudioMatrixControl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Whole Home Audio Control</h2>

<br />
<br />
<table>
    <thead>
        <tr>
            <th></th>
            <th align="center">Basement
            </th>
            <th align="center">Patio
            </th>
            <th align="center">Upstairs
            </th>
        </tr>
    </thead>
    <tr>
        <td align="center">STOP
        </td>
        <td align="center">
            @Ajax.ImageAjaxLink(
                Url.Content("~/Images/000076-blue-white-pearl-icon-media-a-media28-stop.png"),
                "Off", "MyExecuteAction", "Home",
                new
                {
                    device = MyDeviceDatabase.Device.AudioMatrixOut1,
                    actionName = "Off"
                },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 96, border = 0 })
        </td>
        <td align="center">
            @Ajax.ImageAjaxLink(
                Url.Content("~/Images/000076-blue-white-pearl-icon-media-a-media28-stop.png"),
                "Off", "MyExecuteAction", "Home",
                new
                {
                    device = MyDeviceDatabase.Device.AudioMatrixOut2,
                    actionName = "Off"
                },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 96, border = 0 })
        </td>
        <td align="center">
            @Ajax.ImageAjaxLink(
                Url.Content("~/Images/000076-blue-white-pearl-icon-media-a-media28-stop.png"),
                "Off", "MyExecuteAction", "Home",
                new
                {
                    device = MyDeviceDatabase.Device.AudioMatrixOut4,
                    actionName = "Off"
                },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 96, border = 0 })
        </td>
    </tr>
    <tr>
        <td align="center">Source
        </td>
        <td align="center">
            @Ajax.ImageAjaxLink(
                Url.Content("~/Images/icon-gce-xm-online-radio.png"),
                "XM", "MyExecuteAction", "Home",
                new
                {
                    device = MyDeviceDatabase.Device.AudioMatrixOut1,
                    actionName = "Input 1"
                },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 64, border = 0 })
            @Ajax.ImageAjaxLink(
                         Url.Content("~/Images/windows_media_center_logo.png"),
                "HTPC", "MyExecuteAction", "Home",
                new
                {
                    device = MyDeviceDatabase.Device.AudioMatrixOut1,
                    actionName = "Input 2"
                },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 64, border = 0 })
            <br />
            @*@Ajax.ImageAjaxLink(
                         Url.Content("~/Images/BMN_CITY.png"),
                     "BMN CITY", "AudioAction", "Home", new { audioActionName = "SOURCE", audioZone = 1, zoneSource = 2, wmpURL = "http://787.bz/Stream/Playlist?Username=Talbot&Program=CITY&MediaServer=1&Profile=1" },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 64, border = 0 })*@
            @Ajax.ImageAjaxLink(
                         Url.Content("~/Images/the-matrix-glmatrix-500x400.png"),
                     "BMN CITY", "MyExecuteAction", "Home",
                new
                {
                    device = MyDeviceDatabase.Device.AudioMatrixOut1,
                    actionName = "Input 3"
                },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 64, border = 0 })
            @Ajax.ImageAjaxLink(
                         Url.Content("~/Images/Denon_Logo.png"),
                     "Denon Receiver", "MyExecuteAction", "Home",
                new
                {
                    device = MyDeviceDatabase.Device.AudioMatrixOut1,
                    actionName = "Input 4"
                },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 64, border = 0 })
        </td>
        <td align="center">
            @Ajax.ImageAjaxLink(
                Url.Content("~/Images/icon-gce-xm-online-radio.png"),
                "XM", "MyExecuteAction", "Home",
                new
                {
                    device = MyDeviceDatabase.Device.AudioMatrixOut2,
                    actionName = "Input 1"
                },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 64, border = 0 })
            @Ajax.ImageAjaxLink(
                         Url.Content("~/Images/windows_media_center_logo.png"),
                "HTPC", "MyExecuteAction", "Home",
                new
                {
                    device = MyDeviceDatabase.Device.AudioMatrixOut2,
                    actionName = "Input 2"
                },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 64, border = 0 })
            <br />
            @*@Ajax.ImageAjaxLink(
                         Url.Content("~/Images/BMN_CITY.png"),
                     "BMN CITY", "AudioAction", "Home", new { audioActionName = "SOURCE", audioZone = 1, zoneSource = 2, wmpURL = "http://787.bz/Stream/Playlist?Username=Talbot&Program=CITY&MediaServer=1&Profile=1" },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 64, border = 0 })*@
            @Ajax.ImageAjaxLink(
                         Url.Content("~/Images/the-matrix-glmatrix-500x400.png"),
                     "BMN CITY", "MyExecuteAction", "Home",
                new
                {
                    device = MyDeviceDatabase.Device.AudioMatrixOut2,
                    actionName = "Input 3"
                },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 64, border = 0 })
            @Ajax.ImageAjaxLink(
                         Url.Content("~/Images/Denon_Logo.png"),
                     "Denon Receiver", "MyExecuteAction", "Home",
                new
                {
                    device = MyDeviceDatabase.Device.AudioMatrixOut2,
                    actionName = "Input 4"
                },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 64, border = 0 })
        </td>
        <td align="center">
            @Ajax.ImageAjaxLink(
                Url.Content("~/Images/icon-gce-xm-online-radio.png"),
                "XM", "MyExecuteAction", "Home",
                new
                {
                    device = MyDeviceDatabase.Device.AudioMatrixOut4,
                    actionName = "Input 1"
                },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 64, border = 0 })
            @Ajax.ImageAjaxLink(
                         Url.Content("~/Images/windows_media_center_logo.png"),
                "HTPC", "MyExecuteAction", "Home",
                new
                {
                    device = MyDeviceDatabase.Device.AudioMatrixOut4,
                    actionName = "Input 2"
                },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 64, border = 0 })
            <br />
            @*@Ajax.ImageAjaxLink(
                         Url.Content("~/Images/BMN_CITY.png"),
                     "BMN CITY", "AudioAction", "Home", new { audioActionName = "SOURCE", audioZone = 1, zoneSource = 2, wmpURL = "http://787.bz/Stream/Playlist?Username=Talbot&Program=CITY&MediaServer=1&Profile=1" },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 64, border = 0 })*@
            @Ajax.ImageAjaxLink(
                         Url.Content("~/Images/the-matrix-glmatrix-500x400.png"),
                     "BMN CITY", "MyExecuteAction", "Home",
                new
                {
                    device = MyDeviceDatabase.Device.AudioMatrixOut4,
                    actionName = "Input 3"
                },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 64, border = 0 })
            @Ajax.ImageAjaxLink(
                         Url.Content("~/Images/Denon_Logo.png"),
                     "Denon Receiver", "MyExecuteAction", "Home",
                new
                {
                    device = MyDeviceDatabase.Device.AudioMatrixOut4,
                    actionName = "Input 4"
                },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 64, border = 0 })
        </td>
    </tr>
    <tr>
        <td align="center">Volume
            <img width="64" src="../../Images/000096-blue-white-pearl-icon-media-loud-speaker1-ps.png" alt="Volume"
                style="text-align: center;" />
        </td>
        <td align="center">
            @Ajax.ImageAjaxLink( Url.Content("~/Images/000078-blue-white-pearl-icon-media-a-media291-volume1.png"),
                         "Volume Up", "MyExecuteAction", "Home",
                            new
                            {
                                device = MyDeviceDatabase.Device.AudioMatrixOut1,
                                actionName = "Volume Up"
                            },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 96, border = 0 })
            @Ajax.ImageAjaxLink( Url.Content("~/Images/000079-blue-white-pearl-icon-media-a-media292-minus3.png"),
                         "Volume Down", "MyExecuteAction", "Home",
                            new
                            {
                                device = MyDeviceDatabase.Device.AudioMatrixOut1,
                                actionName = "Volume Down"
                            },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 96, border = 0 })
        </td>
        <td align="center">
            @Ajax.ImageAjaxLink( Url.Content("~/Images/000078-blue-white-pearl-icon-media-a-media291-volume1.png"),
                         "Volume Up", "MyExecuteAction", "Home",
                            new
                            {
                                device = MyDeviceDatabase.Device.AudioMatrixOut2,
                                actionName = "Volume Up"
                            },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 96, border = 0 })
            @Ajax.ImageAjaxLink( Url.Content("~/Images/000079-blue-white-pearl-icon-media-a-media292-minus3.png"),
                         "Volume Down", "MyExecuteAction", "Home",
                            new
                            {
                                device = MyDeviceDatabase.Device.AudioMatrixOut2,
                                actionName = "Volume Down"
                            },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 96, border = 0 })
        </td>
        <td align="center">
            @Ajax.ImageAjaxLink( Url.Content("~/Images/000078-blue-white-pearl-icon-media-a-media291-volume1.png"),
                         "Volume Up", "MyExecuteAction", "Home",
                            new
                            {
                                device = MyDeviceDatabase.Device.AudioMatrixOut4,
                                actionName = "Volume Up"
                            },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 96, border = 0 })
            @Ajax.ImageAjaxLink( Url.Content("~/Images/000079-blue-white-pearl-icon-media-a-media292-minus3.png"),
                         "Volume Down", "MyExecuteAction", "Home",
                            new
                            {
                                device = MyDeviceDatabase.Device.AudioMatrixOut4,
                                actionName = "Volume Down"
                            },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 96, border = 0 })
        </td>
    </tr>
    <tr>
        <td align="center">Treble
            <img width="64" src="../../Images/000102-blue-white-pearl-icon-media-music-cleft.png" alt="Treble"
                style="text-align: center;" />
        </td>
        <td align="center">
            @Ajax.ImageAjaxLink( Url.Content("~/Images/000078-blue-white-pearl-icon-media-a-media291-volume1.png"),
                         "Volume Up", "MyExecuteAction", "Home",
                            new
                            {
                                device = MyDeviceDatabase.Device.AudioMatrixOut1,
                                actionName = "Treble Up"
                            },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 96, border = 0 })
            @Ajax.ImageAjaxLink( Url.Content("~/Images/000079-blue-white-pearl-icon-media-a-media292-minus3.png"),
                         "Volume Down", "MyExecuteAction", "Home",
                            new
                            {
                                device = MyDeviceDatabase.Device.AudioMatrixOut1,
                                actionName = "Treble Down"
                            },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 96, border = 0 })
        </td>
        <td align="center">
            @Ajax.ImageAjaxLink( Url.Content("~/Images/000078-blue-white-pearl-icon-media-a-media291-volume1.png"),
                         "Volume Up", "MyExecuteAction", "Home",
                            new
                            {
                                device = MyDeviceDatabase.Device.AudioMatrixOut2,
                                actionName = "Treble Up"
                            },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 96, border = 0 })
            @Ajax.ImageAjaxLink( Url.Content("~/Images/000079-blue-white-pearl-icon-media-a-media292-minus3.png"),
                         "Volume Down", "MyExecuteAction", "Home",
                            new
                            {
                                device = MyDeviceDatabase.Device.AudioMatrixOut2,
                                actionName = "Treble Down"
                            },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 96, border = 0 })
        </td>
        <td align="center">
            @Ajax.ImageAjaxLink( Url.Content("~/Images/000078-blue-white-pearl-icon-media-a-media291-volume1.png"),
                         "Volume Up", "MyExecuteAction", "Home",
                            new
                            {
                                device = MyDeviceDatabase.Device.AudioMatrixOut4,
                                actionName = "Treble Up"
                            },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 96, border = 0 })
            @Ajax.ImageAjaxLink( Url.Content("~/Images/000079-blue-white-pearl-icon-media-a-media292-minus3.png"),
                         "Volume Down", "MyExecuteAction", "Home",
                            new
                            {
                                device = MyDeviceDatabase.Device.AudioMatrixOut4,
                                actionName = "Treble Down"
                            },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 96, border = 0 })
        </td>
    </tr>
    <tr>
        <td align="center">Bass
            <img width="64" src="../../Images/000105-blue-white-pearl-icon-media-music-drum1.png" alt="Bass"
                style="text-align: center;" />
        </td>
        <td align="center">
            @Ajax.ImageAjaxLink( Url.Content("~/Images/000078-blue-white-pearl-icon-media-a-media291-volume1.png"),
                         "Volume Up", "MyExecuteAction", "Home",
                            new
                            {
                                device = MyDeviceDatabase.Device.AudioMatrixOut1,
                                actionName = "Bass Up"
                            },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 96, border = 0 })
            @Ajax.ImageAjaxLink( Url.Content("~/Images/000079-blue-white-pearl-icon-media-a-media292-minus3.png"),
                         "Volume Down", "MyExecuteAction", "Home",
                            new
                            {
                                device = MyDeviceDatabase.Device.AudioMatrixOut1,
                                actionName = "Bass Down"
                            },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 96, border = 0 })
        </td>
        <td align="center">
            @Ajax.ImageAjaxLink( Url.Content("~/Images/000078-blue-white-pearl-icon-media-a-media291-volume1.png"),
                         "Volume Up", "MyExecuteAction", "Home",
                            new
                            {
                                device = MyDeviceDatabase.Device.AudioMatrixOut2,
                                actionName = "Bass Up"
                            },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 96, border = 0 })
            @Ajax.ImageAjaxLink( Url.Content("~/Images/000079-blue-white-pearl-icon-media-a-media292-minus3.png"),
                         "Volume Down", "MyExecuteAction", "Home",
                            new
                            {
                                device = MyDeviceDatabase.Device.AudioMatrixOut2,
                                actionName = "Bass Down"
                            },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 96, border = 0 })
        </td>
        <td align="center">
            @Ajax.ImageAjaxLink( Url.Content("~/Images/000078-blue-white-pearl-icon-media-a-media291-volume1.png"),
                         "Volume Up", "MyExecuteAction", "Home",
                            new
                            {
                                device = MyDeviceDatabase.Device.AudioMatrixOut4,
                                actionName = "Bass Up"
                            },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 96, border = 0 })
            @Ajax.ImageAjaxLink( Url.Content("~/Images/000079-blue-white-pearl-icon-media-a-media292-minus3.png"),
                         "Volume Down", "MyExecuteAction", "Home",
                            new
                            {
                                device = MyDeviceDatabase.Device.AudioMatrixOut4,
                                actionName = "Bass Down"
                            },
                new AjaxOptions() { UpdateTargetId = "SerialResult" }, new { width = 96, border = 0 })
        </td>
    </tr>
</table>
<br />
<span id="SerialResult" style="color: Green"></span>
